    layout {
        gaps 14
        center-focused-column "never"
        always-center-single-column

        background-color "transparent"

        preset-column-widths {
            proportion 0.33333
            proportion 0.5
            proportion 0.66667
        }

        struts {}

    border {
        on
        width 2
        active-color "#bd93f9"
        inactive-color "#44475a"
    }

    focus-ring {
        off
    }
    }
