    prefer-no-csd
    screenshot-path "~/Pictures/Screenshots/Screenshot_%Y-%m-%d_%H-%M-%S.png"
    spawn-at-startup "xwayland-satellite"
	
    environment {
        ELECTRON_OZONE_PLATFORM_HINT "auto"
        QT_QPA_PLATFORM "wayland"
        QT_QPA_PLATFORMTHEME "gtk3"
        QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
        QSG_RENDER_LOOP "threaded"
        XDG_CURRENT_DESKTOP "niri"
        XDG_SESSION_TYPE "wayland"
    }

    cursor {
        xcursor-theme "Adwaita"
        xcursor-size 24
    }

    hotkey-overlay {
       skip-at-startup
    }
	overview {
    	zoom 0.7
        backdrop-color "#44475a"

    workspace-shadow {
        off
        softness 40
        spread 10
        offset x=0 y=10
        color "#00000050"
    }
}
